<header class="header">
	<div class="container is-fluid">

		<div class="header-left">
			{% for elem, name in NAMES|dictsort %}
				{% with active = (
					(request.view_args.elem if request.view_args.elem else config.ENTRY_PAGE) == elem
				) %}
					<a href="{{ url_for('index', elem=elem) }}" class="header-tab{{ ' is-active' if active }}">{{ name }}</a>
				{% endwith %}
			{% endfor %}
		</div>

		{% from '_macros.html' import render_form %}
		<div class="header-right">
				<div class="header-item">
					{{ render_form(search_form(), url_for('search'), inline=true) }}
				</div>
		</div>

	</div>
</header>
{% with flashed = get_flashed_messages(with_categories=true) %}
	{% if flashed %}
		<section class="section">
			<div class="container">
				{% for cat, msg in flashed %}
					<div class="message is-{{ cat if cat != 'message' else 'primary'}}">
						<div class="message-header">{{ cat }}</div>
						<div class="message-body">{{ msg }}</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endwith %}
