{% macro ico(name) %}
	<i class="fa fa-{{name}}"></i>
{% endmacro %}

{% macro render_form(form, action, inline=false) %}
	{% macro _field(f) %}
		{% if f.type in ['CSRFTokenField', 'HiddenField'] %}
			{{ f() }}
		{% else %}
			{% if not inline %}<p class="control">{% endif %}
			{% with ecls = ' is-danger' if f.errors else '' %}
				{% if f.type in ['SubmitField'] %}
					{{ f(class='button is-primary') }}
				{% elif f.type in ['SelectField'] %}
					{{ f.label(class='label') if not inline }}
					<span class="select">{{ f(class=ecls) }}</span>
				{% elif f.type in ['StringField'] %}
					{{ f.label(class='label') if not inline }}
					{{ f(class='input' ~ ecls, placeholder=f.description) }}
				{% elif f.type in ['TextAreaField'] %}
					{{ f.label(class='label') if not inline  }}
					{{ f(class='textarea' ~ ecls, placeholder=f.description) }}
				{% else %}
					{{ f.label(class='label') if not inline }}
					{{ f() }}
				{% endif %}
			{% endwith %}
			{% for error in f.errors %}
				<span class="tag is-danger">{{ error }}</span>
			{% endfor %}
			{% if not inline %}</p>{% endif %}
		{% endif %}
	{% endmacro %}

	{% if form %}
		<form method="post" action="{{ action if action else request.path }}">
			{% if inline %}<p class="control is-grouped">{% endif %}
			{% for field in form %}
				{{ _field(field) }}
			{% endfor %}
			{% if inline %}</p>{% endif %}
		</form>
	{% endif %}
{% endmacro %}


{% macro title_req(prefix=none) %}
	{% if prefix %}
		{{ prefix }} |
	{% endif %}
	{{ NAMES[request.view_args.elem|d(config.ENTRY_PAGE)] }}
{% endmacro %}
