<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}-.-{% endblock %} | {{ config.APP_NAME }}</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for(
		'static', filename='css/bulma.min.css'
	) }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for(
		'static', filename='css/font-awesome.min.css'
	) }}" />
</head>
<body>
	{% include "_header.html" %}
	{% block content %}
		<section class="hero is-primary is-large">
			<div class="hero-content">
				<div class="container">
					<h1 class="title">Empty</h1>
					<h2 class="subtitle">Nothing there</h2>
				</div>
			</div>
		</section>
	{% endblock %}
	{% include "_footer.html" %}
</body>
</html>
