{% extends 'base.html' %}

{% block title %}
	{% from '_macros.html' import title_req %}
	{{ title_req(prefix='Edit') }}
{% endblock title %}

{% block content %}
	{% from '_macros.html' import render_form %}
	<section class="section">
		<div class="container">
			{{ render_form(form) }}
		</div>
	</section>
{% endblock content %}
