{% extends 'base.html' %}
{% from '_macros.html' import title_req, ico %}

{% block title %}
	{{ title_req() }}
{% endblock title %}

{% macro _ref(elem, e, single) %}
	<a
		{% if elem == 'category' %}
			class="button"
		{% elif elem == 'user' %}
			class="button is-primary"
		{% elif elem == 'label' %}
			class="button is-primary is-outlined"
		{% endif %}
		href="{{ url_for(
			('edit' if single else 'index'), elem=elem, ident=e.ident
		) }}"
	>{{ '@' if elem == 'user' }}{{ e.ident if elem == 'label' else e.name }}</a>
{% endmacro %}

{% macro t_ref(elem, minor=true) %}
	{% with hn = (3 if minor else 1) %}
		<h{{hn}} class="title is-{{hn}}">
			<a href="{{ url_for('index', elem=elem) }}">{{ NAMES[elem] }}</a>
		</h{{hn}}>
	{% endwith %}
{% endmacro %}

{% macro tabular(data, single, elem) %}
	<table class="table">
		<thead>
			<tr>
				<th>{{ NAMES[elem] }}</th>
				{% if elem == 'label' %}
					<th>Label</th>
					<th>Item</th>
				{% else %}
					<th>Description</th>
					<th>Items</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for d in ([data] if single else data) %}
				<tr>
					<td>{{ _ref(elem, d, single) }}</td>
					{% if elem == 'label' %}
						<td>
							{{ d.barcode|safe }}
						</td>
						<td>
							{{ _ref(
								'item', d.item, single
							) if d.item else ico('times') }}
						</td>
					{% else %}
						<td>{{ d.description }}</td>
						<td>
							<code class="is-pulled-right">{{ d.items.count() }}</code>
							{% for i in d.items.all() %}
								{{ _ref('item', i, single) }}
								{{ '|' if not loop.last }}
							{% else %}
								{{ ico('times') }}
							{% endfor %}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}


{% macro journal(data, single, elem) %}
	{% for d in ([data] if single else data) %}
		<div class="box">
			<article class="media">
				<div class="media-content">
					<div class="content">
						<p class="title is-3">{{ _ref(elem, d, single) }}</p>
						{% if single and d.description %}
							<blockquote>{{ d.description }}</blockquote>
						{% elif single %}
							<div class="is-text-centered">
								<span class="icon is-icon-large">{{ ico('times') }}</span>
							</div>
						{% endif %}
					</div>
					<nav class="navbar">
						{% if elem == 'item' %}
							<div class="navbar-item is-text-centered">
								<p class="heading">{{ NAMES['label'] }}</p>
								<p class="title">
									{% for l in d.labels.all() %}
										{{ _ref('label', l, single) }}
									{% else %}
										{{ ico('times') }}
									{% endfor %}
								</p>
							</div>
							<div class="navbar-item is-text-centered">
								<p class="heading">{{ NAMES['category'] }}</p>
								<p class="title">
									{{ _ref(
										'category', d.category, single
									) if d.category else ico('times') }}
								</p>
							</div>
							<div class="navbar-item is-text-centered">
								<p class="heading">{{ NAMES['user'] }}</p>
								<p class="title">
									{{ _ref(
										'user', d.user, single
									) if d.user else ico('times') }}
								</p>
							</div>
							{% else %}
								<div class="navbar-item is-text-centered">
									<p class="heading">{{ NAMES['item'] }}</p>
									<p class="title">
										{% for i in d.items.all() %}
											{{ _ref('item', i, single) }}
											{{ '|' if not loop.last }}
										{% else %}
											{{ ico('times') }}
										{% endfor %}
									</p>
								</div>
							{% endif %}
					</nav>
				</div>
			</article>
		</div>
	{% endfor %}
{% endmacro %}

{% macro element(cont, elem, single=false) %}
	{% with render = {
		'category': tabular, 'item': journal, 'label': tabular, 'user': journal,
	}[elem] %}
		{% if render %}{{ render(cont, single, elem) }}{% endif %}
	{% endwith %}
{% endmacro %}

{% block content %}
	<section class="section">
		<div class="container">
			{% with (elem, single) = (
				request.view_args.elem|d(config.ENTRY_PAGE),
				(not not request.view_args.ident)
			) %}
				<a
					class="button is-primary is-pulled-right"
					href="{{ url_for('edit', elem=elem) }}"
				>
					{{ ico('plus') }}{{ NAMES[elem] }}
				</a>
				{{ t_ref(elem, minor=false) }}
				{{ element(content, elem, single=single) }}
			{% endwith %}
		</div>
	</section>
{% endblock content %}
