{% extends 'base.html' %}

{% block title %}
	{{ (form.query.data ~ ' |')if form.query.data }} Search
{% endblock title %}

{% block content %}
	{% from '_macros.html' import render_form %}
	{% from 'element.html' import element, t_ref %}
	<section class="section">
		<div class="container">
			<h1 class="title is-1">Search</h1>
			{% if form.query.data %}
				<h2 class="subtitle is-2 is-text-centered"><code>{{ form.query.data }}</code></h2>
			{% endif %}
		</div>
	</section>
	{% if results %}
		{% for elem, res in results|dictsort %}
			<section class="section">
				<div class="container">
					{{ t_ref(elem) }}
					{{ element(res, elem, single=false) }}
				</div>
			</section>
		{% endfor %}
	{% endif %}
	<section class="section">
		<div class="container">
			{{ render_form(form, inline=true) }}
		</div>
	</section>
{% endblock content%}
